<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">
<head>
<title>Schimankas Bar</title>
</head>
<body>

	<section class="layout-content" layout:fragment="loja">
		<section class="banner_part">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="banner_text">
							<div class="banner_text_iner">
								<h5>Experiencia Unica</h5>
								<h1>Venha fazer uma visita</h1>
								<a href="#" class="btn_1">Saiba mais...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner part start-->

		<!-- about part start-->
		<section class="about_part">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-12">
						<div class="about_part_iner">
							<div class="row align-items-center">
								<div class="col-lg-7">
									<div class="about_text">
										<h5>Sobre nos</h5>
										<h2>A melhor conveniencia da cidade de Terra Rica e
											regiao</h2>
										<p>Good lights it very to above. Days image to sea. Over
											there seasons and spirit beast in. Greater bearing creepeth
											very behold fourth night morning seed moved.</p>
										<p>Good lights it very to above. Days image to sea. Over
											seasons and spirit beast in over greater bearing creepeth.</p>
										<a href="#" class="btn_3">Leia Mais</a>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="about_img">
										<img src="img/about.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about part end-->

		<!-- food_menu start-->
		<section class="food_menu">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="section_tittle">
							<p>Menu Popular</p>
							<h2>Produtos</h2>
						</div>
					</div>
					<div class="col-lg-12" th:each="produto : ${listaProdutos}">
						<div class="single-member">
							<div class="row">
								<div class="col-sm-6 col-lg-6">
									<div class="single_food_item media">
										<img class="img-fluid"
											th:src="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" />
										<div class="media-body align-self-center">
											<h3>
												<span th:text="${produto.descricao}"></span>
											</h3>
											<h5>
												<span th:text="${produto.valorVenda}"></span>
											</h5>
											<div class="card-footer">
												<a class="btn btn-primary btn-lg btn-block"
													th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}"
													role="button">Comprar</a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- food_menu part end-->

		<!-- intro_video_bg start-->
		<section class="intro_video_bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="intro_video_iner text-center">
							<div class="intro_video_icon">
								<a id="play-video_1" class="video-play-button popup-youtube"
									href="https://www.youtube.com/watch?v=pBFQdxA-apI">
									<span class="ti-control-play"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- intro_video_bg part start-->

		<!--::review_part start::-->
		<section class="review_part section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-5">
						<div class="section_tittle">
							<p>Testimonials</p>
							<h2>What they said</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-11">
						<div class="client_review_part owl-carousel">
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_1.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_2.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_3.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_1.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_2.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="client_review_single">
								<div class="client_review_text">
									<p>Good lights it very to above. Days image to sea over
										there seasons and spirit beast in greater bearing tool
										creepeth very behold.</p>
									<div class="client_review_img">
										<img src="img/client/client_3.png" alt="#" />
										<h4>Mosan Cameron</h4>
										<div class="review_icon">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--::review_part end::-->

		<!--::contact part /css2 start::-->
		<section class="contact_part section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="contact_part_iner">
							<h3>Contact Us</h3>
							<div class="single_contact_part">
								<h5>address</h5>
								<p>240, Kings street, New York city USA</p>
							</div>
							<div class="single_contact_part">
								<h5>WE ARE OPEN</h5>
								<p>Mon - Fri (9.00-19.00)</p>
								<p>Sat - Sun (9.00-19.00)</p>
							</div>
							<div class="single_contact_part">
								<h5>RESERVATION</h5>
								<p>+880 367 251 167</p>
								<span>barires@contact.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--::contact part /css2 end::-->

	</section>

</body>
</html>