<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layoutAdm}">
<head>
<title>Schimankas Bar</title>
</head>
<body>

	<section class="layout-content" layout:fragment="inicio">
	
		<h2 align="center">Cadastro de Papeis</h2>
		
		<div class="container" id="cadastro">
		<div href="/administrativo/papeis/cadastrar">
			
		</div>
		<form action="/administrativo/papeis/salvar" th:object="${papel}" method="POST">
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="nome">Nome do Papel</label> <input type="text"
						class="form-control" id="nome" placeholder="Nome Do Papel"
						autofocus="autofocus" th:field="*{nome}" value="" />
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<input type="hidden" id="id" th:field="*{id}" value="" />
			<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
		</form>
	</div>
	
	</section>	

</body>
</html>